.cats_container {
  border-left: 4px solid #2d94da;
  padding-left: 10px;
  margin-left: 10px;
}

.cats_container .media .media-figure img {
  width: 150px;
  height: 150px;
}

.btn--group .btn1 {
  border-radius: 30px 0px 0px 30px;
}

.btn--group .btn2 {
  border-radius: 0px 30px 30px 0px;
}

.btn--add {
  border-radius: 30px;
}
